 /*
	[Information]
		@Author - Anonymous
		@Version - 2.23
		@Created - 06/01/13
		@Modified - 03/07/14

	[Table of Contents]
		1.00 Global (line #00)
			1.10 Body (line #00)
		2.00 Core (line #00)
			2.10 Carousel (line #00)

		
*/

/*-------- 1.00 Global --------*/

/* 1.10 Body */

.admin-banner {
	text-align:center;
	border-top:solid 1px #ECECEC;
	padding:20px 0px;
}
.admin-banner h2 {
	text-transform:uppercase;
	font-weight:500;
}

/*-------- 1.00 Add Project --------*/


/* 1.10 project form */

.required {
	color:blue;
}

.center {
	text-align:center;
}

#project-form label {
	color:#444;
}

#project-form .tab-pane {
	padding-top:20px;
	padding-bottom:20px;
}

	#project-form .tab-pane textarea {
		min-height:100px;
	}
